############
# #start A #
############
*.a
*.ag
*.agp
*.aln
*.apache2
*.applescript
*.auto-changelog

#end

############
# #start B #
############
*.babelrc
*.backup
*.bat
*.bed
*.bgz
*.bin
*.biom
*.bnf
*.browserslist
*.browserslistrc
*.bsd
*.bz2
build/
bower_components/

#end

############
# #start C #
############
.cache
.cache/
*_cache/
*.c
*.canvas
*.cc
*.cfg
*.changes
*.cjs
*.closure-compiler
*.cmd
*.code-workspace
*.coffee
*.conf
.config
*.coverage
.coverage
.coverage.*
coverage
coverage.xml
*.cpp
*.csl
*.csvy
*.cts

#end

############
# #start D #
############
data/
*.dat
*.db
*.dcf
*.deb
.debris
*.def
*.desktop
*.development
*.dmypy.json
*.dmp
*.dockerignore
dist/
.directory
downloads/
.DS_Store
.DS_Store?
.dynamodb/
.docusaurus

#end

############
# #start E #
############
*.editorconfig
*.edn
*.ejs
*.egg
*.egg-info/
eggs/
*.eml
.env
.env.*
.env.development.local
.env.test.local
.env.production.local
.env.local
*.eot
*.eslintcache
*.eslintignore
*.eslintrc
*.esprima

#end

############
# #start F #
############
*.fa
*.fa.gz
*.fasta
*.fasta.gz
*.firebaserc
*.fixme
*.flake8
*.flow
*.flowconfig
*.fq
*.fq.gz
*.fastq
*.fastq.gz
.fusebox/

#end

############
# #start G #
############
.git/
.gitignore
.gitattributes
*.gif
.grunt
*.gyp
*.gypi
*.gz

#end

############
# #start H #
############
*.h
*.h5
*.heic
*.hh
*.hpp
*.html
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

#end

############
# #start I #
############
*.ico
*.idx
.idea/
*.ignore
*.iml
*.in
index*.txt
*.ini
.installed.cfg
*.ipynb
.ipynb_checkpoints

#end

############
# #start J #
############
*.jsdoc
jspm_packages/
*.jshintignore
*.jshintrc
*.jst

#end

############
# #start K #
############
*.knit.md

#end

############
# #start L #
############
*.less
*.lft
lib/
lib64/
*.license
*.local
*.lock
*.log
logs/
.logs
.log
lerna-debug.log*

#end

############
# #start M #
############
*.m
*.mak
MANIFEST
*.map
*.md5
md5sum*
*.mdown
*.mdx
messages/
.megaignore
*.mf
*.mit
*.mjs
*.mk
*.mo
_mobile-templates
*.mov
*.mp4
*.mts
*.mtx
.mypy_cache/

#end

############
# #start N #
############
*.nemo_action
.next
*.nix
*.node
node_modules/
*.nojekyll
*.note
.npm
.node_repl_history
*.npmignore
*.npmrc
*.numbers
.nuxt
*.nvmrc
*.nwk
.nyc_output
*.nycrc

#end

############
# #start O #
############
.obsidian*
*.odp
*.otf
*.out
output/
out/

#end

############
# #start P #
############
*.pack
packrat/
.parcel-cache
parts/
*.patch
*.pdl
*.pem
pids
*.pid
*.pid.lock
*.php
*.phy
*.pl
*.plugin
.pnp.*
.pnpm-debug.log*
*.pnm
*.po
*.pot
poetry.lock
*.prettierignore
*.prettierrc
*.production
*.properties
*.proto
*.python-version
pyproject.toml
__pycache__/
*.py[cod]

#end

############
# #start Q #
############
.quarto/
.quartohistory

#end

############
# #start R #
############
*.rd
*.rda
*.rdata
.RData
.RDataTmp
*.rdb
*.rds
*.rdx
ref/
references/
*.renvignore
requirements.txt.lock
*.required
*.rev
*.ris
*.rmd
*.rnw
*.rsa
.rstudio/
.Rproj.user/
*.Rproj
*.rua
*.rules
.Ruserdata

#end

############
# #start S #
############
*.sample
sdist/
*.scm
*.seed
.serverless/
*.settings
*.sfd
share/python-wheels/
*.snap
*.so
*.soc
*.sql
*.sqlite
*.scss
*.styl
*.sublime-*
*.symbols
.stylelintcache

#end

############
# #start T #
############
*.tar
*.tar.gz
*.temp
.temp
*.tera
*.test
*.tex
*.theme
.tern-port
tests/
test/
*.tmpreferences
.tox/
*.tree
.trash
.Trashes
*.tsbuildinfo
*.tsx
*.ttf
*.ttx
.temp
tmp.*

#end

############
# #start U #
############
*.uc
*.ui
*.utf8.md
*.utils

#end

############
# #start V #
############
var/
.venv
venv/
.vscode/
.vscode-test/
*.wasm
*.wast

#end

############
# #start W #
############
*.watchmanconfig
*.watchr
web_modules/
wheels/
*.webp
*.win
*.woff
*.woff2

#end

############
# #start X #
############
*.xcf
*.xcu
*.xml
*.xz

#end

############
# #start Y #
############
.yarn/
.yarn-integrity
yarn-debug.log*
yarn-error.log*

#end

############
# #start Z #
############
*.zip

#end

###########################
# #start Special Sections #
###########################

# #start Quarto
/_book/
*_cache/
/cache/
/_extensions/
*_files/
/_*.local
/_output/
.quarto/
/_site/

# **Optional**
# Depends on if you need others to reproduce your computational environment (https://quarto.org/docs/projects/code-execution.html#using-freeze)
/_freeze/

#end

# #start Rlang
*-Ex.R
/*.Rcheck/
.Rapp.history
.Rproj.user/
.Rbuildignore
vignettes/*.html

#end

# #start renv dependency management
renv/
.renvignore
!renv/activate.R

#end

# #start RStudio Connect folder
rsconnect/

#end

# #start System
.MAC*
.Spotlight-V100
ehthumbs.db
Thumbs.db

#end

# #start Tesing
.pytest_cache/
rcov/
nosetests.xml

#end

# #start Other
.ncbi
.pandoc
.stfolder*

#end
#end
