### A ###
*.a
*.ag
*.agp
*.aln
*.apache2
*.applescript
*.auto-changelog

### B ###
*.babelrc
*.backup
*.bat
*.bed
*.bgz
*.bin
*.biom
*.bnf
*.browserslist
*.browserslistrc
*.bsd
*.bz2
build/
bower_components/

### C ###
.cache
.cache/
*_cache/
*.c
*.canvas
*.cc
*.cfg
*.changes
*.cjs
*.closure-compiler
*.cmd
*.code-workspace
*.coffee
*.conf
.config
*.coverage
.coverage
.coverage.*
coverage
coverage.xml
*.cpp
*.csl
*.csvy
*.cts

### D ###
data/
*.dat
*.db
*.dcf
*.deb
.debris
*.def
*.desktop
*.development
*.dmypy.json
*.dmp
*.dockerignore
dist/
.directory
downloads/
.DS_Store
.DS_Store?
.dynamodb/
.docusaurus

### E ###
*.editorconfig
*.edn
*.ejs
*.egg
*.egg-info/
eggs/
*.eml
.env
.env.*
.env.development.local
.env.test.local
.env.production.local
.env.local
*.eot
*.eslintcache
*.eslintignore
*.eslintrc
*.esprima

### F ###
*.fa
*.fa.gz
*.fasta
*.fasta.gz
*.firebaserc
*.fixme
*.flake8
*.flow
*.flowconfig
*.fq
*.fq.gz
*.fastq
*.fastq.gz
.fusebox/

### G ###
.git/
.gitignore
.gitattributes
*.gif
.grunt
*.gyp
*.gypi
*.gz

### H ###
*.h
*.h5
*.heic
*.hh
*.hpp
*.html
.httr-oauth

### I ###
*.ico
*.idx
.idea/
*.ignore
*.iml
*.in
index*.txt
*.ini
.installed.cfg
*.ipynb
.ipynb_checkpoints

### J ###
*.jsdoc
jspm_packages/
*.jshintignore
*.jshintrc
*.jst

### K ###
*.knit.md

### L ###
*.less
*.lft
lib/
lib64/
*.license
*.local
*.lock
*.log
logs/
.logs
.log
lerna-debug.log*

### M ###
*.m
*.mak
MANIFEST
*.map
*.md5
md5sum*
*.mdown
*.mdx
messages/
.megaignore
*.mf
*.mit
*.mjs
*.mk
*.mo
_mobile-templates
*.mov
*.mp4
*.mts
*.mtx
.mypy_cache/

### N ###
*.nemo_action
.next
*.nix
*.node
node_modules/
*.nojekyll
*.note
.npm
.node_repl_history
*.npmignore
*.npmrc
*.numbers
.nuxt
*.nvmrc
*.nwk
.nyc_output
*.nycrc

### O ###
.obsidian*
*.odp
*.otf
*.out
output/
out/

### P ###
*.pack
packrat/
.parcel-cache
parts/
*.patch
*.pdl
*.pem
pids
*.pid
*.pid.lock
*.php
*.phy
*.pl
*.plugin
.pnp.*
.pnpm-debug.log*
*.pnm
*.po
*.pot
poetry.lock
*.prettierignore
*.prettierrc
*.production
*.properties
*.proto
*.python-version
pyproject.toml
__pycache__/
*.py[cod]

### Q ###
.quarto/
.quartohistory

### R ###
*.rd
*.rda
*.rdata
.RData
.RDataTmp
*.rdb
*.rds
*.rdx
ref/
references/
*.renvignore
requirements.txt.lock
*.required
*.rev
*.ris
*.rmd
*.rnw
*.rsa
.rstudio/
.Rproj.user/
*.Rproj
*.rua
*.rules
.Ruserdata

### S ###
*.sample
sdist/
*.scm
*.seed
.serverless/
*.settings
*.sfd
share/python-wheels/
*.snap
*.so
*.soc
*.sql
*.sqlite
*.scss
*.styl
*.sublime-*
*.symbols
.stylelintcache

### T ###
*.tar
*.tar.gz
*.temp
.temp
*.tera
*.test
*.tex
*.theme
.tern-port
tests/
test/
*.tmpreferences
.tox/
*.tree
.trash
.Trashes
*.tsbuildinfo
*.tsx
*.ttf
*.ttx
.temp
tmp.*

### U ###
*.uc
*.ui
*.utf8.md
*.utils

### V ###
var/
.venv
venv/
.vscode/
.vscode-test/
*.wasm
*.wast

### W ###
*.watchmanconfig
*.watchr
web_modules/
wheels/
*.webp
*.win
*.woff
*.woff2

### X ###
*.xcf
*.xcu
*.xml
*.xz

### Y ###
.yarn/
.yarn-integrity
yarn-debug.log*
yarn-error.log*

### Z ###
*.zip

### Special Sections ###

# Quarto Specific
/_book/
/_extensions/
/_freeze/
/_output/
/_site/
*_files/

# R Specific
*-Ex.R
/*.Rcheck/
.Rapp.history

# System Files
.MAC*
.Spotlight-V100
ehthumbs.db
Thumbs.db

# Test and Coverage
.pytest_cache/
rcov/
nosetests.xml

# Other Configuration
.ncbi
.pandoc
.stfolder*
