#quarto-sidebar {
  width: 100dvw !important;
  overflow: visible !important;
}

#quarto-sidebar.collapse {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
    transition: none !important;
}

.quarto-btn-toggle {
    display: none !important;
}

#quarto-sidebar .sidebar-item-text {
  font-size: 22px;

}

li.sidebar-item-section > div:nth-child(1) {
  font-size: 30px;
  color: #EF9F76;

}